1. С помощью цикла найти сумму чисел от X1 до X2, где X1 и X2 - переменные, которые проставляются выше

In [3]:
x1 = int(input())
x2 = int(input())
print(x1 + x2)

2
2
4

2. Пользователь вводит число. Если это число чётное - вывести "ЧИСЛО ЧЁТНОЕ", если нет - вывести "ЧИСЛО НЕЧЁТНОЕ"

In [7]:
number = int(input())
if number % 2 == 0:
    print('ЧИСЛО ЧЁТНОЕ')
else:
    print('ЧИСЛО НЕЧЁТНОЕ')

2
ЧИСЛО ЧЁТНОЕ

3. Пользователь задаёт три числа. Если среди них есть равные друг другу, то вывести YES, если нет вывести ERROR

In [9]:
a = int(input())
b = int(input())
c = int(input())

if a == b or b == c or a == c:
    print('YES')
else:
    print('ERROR')

2
4
5
ERROR

4. Пользователь задаёт три числа. Если все эти числа равны друг другу, то вывести YES, если нет вывести ERROR

In [11]:
a = int(input())
b = int(input())
c = int(input())

if a == b == c:
    print('yes')
else:
    print('ERROR')

3
3
3
yes

5. Импортируйте csv файл с таблицей skytaxi.order_list. Осмотрите датафрейм с помощью head & tail. Замените нуллы в колонках assign_time, arrive_to_client_time и order_finish_time на 01.01.3000

In [52]:
import pandas as pd
import datetime as dt

In [54]:
order_list = pd.read_csv('C:/Users/risenroad/Documents/Skypro/ISA/query_result_2022-06-09T13_23_28.035944Z.csv')

In [55]:
order_list

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
0,113612,1644.0,2021-07-01T00:13:39,NaN,NaN,NaN,11.0,117
1,110195,280.0,2021-07-01T00:17:26,2021-07-01T00:23:26,2021-07-01T00:33:26,NaN,11.0,112
2,114560,2536.0,2021-07-01T00:36:00,2021-07-01T00:41:00,2021-07-01T00:44:00,2021-07-01T01:42:00,10.0,115
3,111284,NaN,2021-07-01T00:36:32,NaN,NaN,NaN,11.0,111
4,110131,3730.0,2021-07-01T00:36:34,2021-07-01T00:40:34,2021-07-01T00:50:34,NaN,10.0,118
...,...,...,...,...,...,...,...,...
4995,110175,3952.0,2021-07-31T22:23:06,2021-07-31T22:25:06,2021-07-31T22:33:06,2021-07-31T23:09:06,10.0,111
4996,112011,869.0,2021-07-31T22:33:22,NaN,NaN,NaN,10.0,116
4997,113759,2831.0,2021-07-31T22:38:43,2021-07-31T22:41:43,2021-07-31T22:52:43,2021-07-31T23:14:43,10.0,111
4998,113847,3443.0,2021-07-31T22:42:38,2021-07-31T22:46:38,NaN,NaN,1.0,113
4999,110907,1487.0,2021-07-31T23:09:15,2021-07-31T23:15:15,2021-07-31T23:27:15,2021-07-31T23:59:15,10.0,119

In [60]:
order_list['assign_time'].fillna(dt.datetime(3000,1,1), inplace = True)
order_list['arrive_to_client_time'].fillna(dt.datetime(3000,1,1), inplace = True)
order_list['order_finish_time'].fillna(dt.datetime(3000,1,1), inplace = True)

AttributeError: module 'datetime' has no attribute 'Timestamp'

In [59]:
order_list

,id_order,id_driver,order_time,assign_time,arrive_to_client_time,order_finish_time,id_tariff,id_city
0,113612,1644.0,2021-07-01T00:13:39,3000-01-01 00:00:00,3000-01-01 00:00:00,3000-01-01 00:00:00,11.0,117
1,110195,280.0,2021-07-01T00:17:26,2021-07-01T00:23:26,2021-07-01T00:33:26,3000-01-01 00:00:00,11.0,112
2,114560,2536.0,2021-07-01T00:36:00,2021-07-01T00:41:00,2021-07-01T00:44:00,2021-07-01T01:42:00,10.0,115
3,111284,NaN,2021-07-01T00:36:32,3000-01-01 00:00:00,3000-01-01 00:00:00,3000-01-01 00:00:00,11.0,111
4,110131,3730.0,2021-07-01T00:36:34,2021-07-01T00:40:34,2021-07-01T00:50:34,3000-01-01 00:00:00,10.0,118
...,...,...,...,...,...,...,...,...
4995,110175,3952.0,2021-07-31T22:23:06,2021-07-31T22:25:06,2021-07-31T22:33:06,2021-07-31T23:09:06,10.0,111
4996,112011,869.0,2021-07-31T22:33:22,3000-01-01 00:00:00,3000-01-01 00:00:00,3000-01-01 00:00:00,10.0,116
4997,113759,2831.0,2021-07-31T22:38:43,2021-07-31T22:41:43,2021-07-31T22:52:43,2021-07-31T23:14:43,10.0,111
4998,113847,3443.0,2021-07-31T22:42:38,2021-07-31T22:46:38,3000-01-01 00:00:00,3000-01-01 00:00:00,1.0,113
4999,110907,1487.0,2021-07-31T23:09:15,2021-07-31T23:15:15,2021-07-31T23:27:15,2021-07-31T23:59:15,10.0,119

6. Напишите функцию, которая будет делать анализ числа (аргумент - одно число):
    - Если число = 0, то функция напишет "введите ненулевое число"
    - Функция скажет, является ли число чётным
    - Функция скажет, больше ли это число чем 10
    - Функция напечатает квадрат и куб этого числа
    - Функция скажет, является ли число отрицательным

In [112]:
def num_analytics(x):
    if x > 10:
        bigger_then_10 = 'число больше 10'
    else:
        bigger_then_10 = 'число меньше 10'
    
    qub = "куб числа равен " + str(x**3) 
    sqr = "квадрат числа равен " + str(x**2)
    
    if x > 0:
        is_positiv = 'число положительное'
    else:
        is_positiv = 'число отрицательное'
    return qub, sqr, bigger_then_10, is_positiv

In [113]:
num_analytics(3)

('куб числа равен 27',
 'квадрат числа равен 9',
 'число меньше 10',
 'число положительное')